{% extends "base.html" %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
{% endblock %}

{% block title %}Lokach|Questions{% endblock %}

{% block main %}

{% if latest_question_list %}
    <div class="content content__question">
        {% for question in latest_question_list %}
            <div class="question">
            <a href="{% url 'polls:detail' question.id %}" class="question__link">
            {{ question.id }}) {{ question.question_text }}
                </a>
            </div>
        {% endfor %}
        <a class="create_question_button" href="{% url 'polls:create' %}">Create new question</a>
    </div>
{% endif %}


{% endblock %}
